* {
  font-family: montserrat;
}

.title {
  padding-top: 105px;
  padding-left: 583px;
  font-family: montserrat;
  font-size: 36px;
}

.calculator_box {
  border: 1px solid;
  width: 735px;
  height: 461px;
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 5%;
  /* padding-right: 10%; */
}

form {
  margin-top: 30px;
}

.size, .weight {
  display: flex;
  flex-direction: row;
}

.address {
  width: 80%;
}


input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  width: 60px;
  height: 40px;
  margin-top: 10px;
}

.size {
  width: 83%;
  justify-content: space-between;
}


#btn {
  background-color: #46B7F9;
  color: white;
  font-size: 18px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 63%;
}
