* {
  font-size: 18px;
}

.format {
  display: flex;
  flex-direction: row;
  height: 1200px;
  padding-bottom: 10%;
}

.labels {
  width: 30%;
  /* border: 1px solid; */
  margin-left: 5%;
  padding-left: 4%;
  padding-top: 13px;
}

.label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

#label_address {
  margin-top: 35px;
}

#label_phoneNumber {
  padding-top: 30px;
  padding-bottom: 5px;
}

#label_confirm_email {
  padding-top: 30px;
  padding-bottom: 5px;
}

#label_delivery_options {
  padding-top: 30px;
  padding-bottom: 5px;
}

#label_recipient_phone_number {
  padding-top: 150px;
}


.formStyle {
  margin-top: 0;
  /* border: 1px yellow solid; */
  width: 45%;
  margin-left: 3%;
}

input {
  /* margin-top: 10px; */
  width: 100%;
}

.cityStateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#city {
  width: 200px;
  margin-right: 5px;
}


#label_phoneNumber {
  margin-top: 220px;
}

#label_email {
  margin-top: 40px;
}

#label_recipient_name {
  margin-top: 150px;
}

.container_options {
  display: flex;
  flex-direction: row;
}

.checkbox {
   width: 40px;
   height: 40px;
}

.option {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
}

.recipient_input {
  margin-top: 20px;
}

.shipping_btn {
  margin-top: 70%;
}
